# Objectives
Analyse the number of cyclists in Paris

* Quantify the rise of cyclists in Paris
    * Get data from traffic, accidents
    * Bike lane construction
* Correlate the accidents with time of day, condition of the road, gender
* Is the increase in car traffic leading to more bike accidents?
* Is the increase bikes lanes helping in the drecrease of bike accidents?
* Is the increase of bike traffic leading to more bike lanes? And in which areas?

# Data that we might need (to scrape)
* Public investment (bike lane construction, public incentives to buy bikes)
* Car Traffic in Paris
* Number of bycicles sold in Paris (we might have info about sales of eletric bikes in Paris)
* Average Salary in Paris
* Average bike prices

In [2]:
import pandas as pd

In [3]:
accidents = pd.read_csv(r'C:\Users\Tiago McDonald\Downloads\accidents-velos.csv', low_memory=False)

In [4]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65981 entries, 0 to 65980
Data columns (total 39 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   identifiant accident        65981 non-null  int64
 1   date                        65981 non-null  object
 2   mois                        65981 non-null  object
 3   jour                        65981 non-null  object
 4   heure                       65515 non-null  float64
 5   departement                 65981 non-null  object
 6   commune                     65981 non-null  object
 7   lat                         65981 non-null  float64
 8   lon                         65713 non-null  float64
 9   en agglomeration            65981 non-null  object
 10  type intersection           65979 non-null  object
 11  type collision              65977 non-null  object
 12  luminosite                  65981 non-null  object
 13  conditions atmosperiques    65978 non-null  object
 14  type route                  65970 non-null  object
 15  circulation                 143 non-null    object
 16  nb voies                    57837 non-null  float64
 17  profil long route           61406 non-null  object
 18  trace plan route            59883 non-null  object
 19  largeur TPC                 5172 non-null   float64
 20  largeur route               40283 non-null  float64
 21  etat surface                63443 non-null  object
 22  amenagement                 7275 non-null   object
 23  situation                   61813 non-null  object
 24  categorie usager            65981 non-null  object
 25  gravite accident            65981 non-null  object
 26  sexe                        65981 non-null  object
 27  age                         65955 non-null  object
 28  motif deplacement           52267 non-null  object
 29  existence securite          60597 non-null  object
 30  usage securite              58723 non-null  object
 31  obstacle fixe heurte        1450 non-null   object
 32  obstacle mobile heurte      52947 non-null  object
 33  localisation choc           56860 non-null  object
 34  manoeuvre avant accident    59269 non-null  object
 35  identifiant vehicule        65981 non-null  object
 36  type autres vehicules       57208 non-null  object
 37  manoeuvre autres vehicules  52980 non-null  object
 38  nombre autres vehicules     57208 non-null  float64
dtypes: float64(7), int64(1), object(31)
memory usage: 19.6+ MB

In [5]:
accidents.describe()

,identifiant accident,heure,lat,lon,nb voies,largeur TPC,largeur route,nombre autres vehicules
count,6.598100e+04,65515.000000,65981.000000,65713.000000,57837.000000,5172.000000,40283.000000,57208.000000
mean,2.011111e+11,13.745738,15.880545,0.736738,2.092743,49.087587,78.314798,1.024105
std,3.960347e+08,4.365985,22.304403,3.912430,1.281741,72.822739,58.721451,0.181077
min,2.005000e+11,1.000000,-21.381560,-61.803990,1.000000,1.000000,1.000000,1.000000
25%,2.008000e+11,10.000000,0.000000,0.000000,2.000000,13.000000,55.000000,1.000000
50%,2.011000e+11,14.000000,0.000000,0.000000,2.000000,30.000000,67.000000,1.000000
75%,2.015000e+11,17.000000,45.465580,0.000000,2.000000,60.000000,90.000000,1.000000
max,2.018001e+11,23.000000,51.067110,55.826550,90.000000,908.000000,990.000000,5.000000

## Columns that we don't need
* Circulation (143 non-missing values)